<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="{% url 'Home' %}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'About' %}">About</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'Contact'%}">Conatct</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'Student'%}">Student</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'Mark'%}">Mark</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'Gallery'%}">Gallery</a></li>
    </ul>
</nav>